# Ignore all folders outside project
/../../../

# Ignore common Windows system files
*.lnk
*.ini
*.dat
*.log
*.db
.DS_Store
Thumbs.db
Desktop.ini

# Ignore some directories
build/
Documents/
Downloads/
Pictures/
Music/
Videos/
AppData/
OneDrive/
VirtualBox VMs/
.vscode/
.gradle/
.m2/
